/* body headers, paragraphs and horizontal rules */

html {
  scroll-behavior: smooth; /* be careful using this as it may be an outdated option - it did however operate as desired? */
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Orbitron', sans-serif;
  color: orange;
}

h2 {
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif;
  color: orange;
}

h2:hover {
  color: silver;
}

h3 {
  font-family: 'Orbitron', sans-serif;
  color: silver;
}

p {
  font-size: 1rem;
  color: #1d072f; /* originally black */
}

hr {
  margin: 80px auto 80px auto;
  border-style: none;
  border-top-style: dotted;
  border-color: orange;
  border-width: 8px;
  width: 5%;
}

/* top container */

.top-container {
  width: auto;
  background-color: #1d072f;
  margin: 0 auto;
}

.name {
  width: 100%;
  font-weight: 600;
  padding-top: 10px;
  margin-top: 0;
  margin: 0 auto 60px auto;
}

.name:hover {
  color: silver;
}

.developer {
  width: 100%;
  font-size: 1.5625rem;
  font-family: 'Orbitron', sans-serif;
  margin: 0 auto;
  color: orange;
}

.developer:hover {
  color: silver;
}

.asteroid-one {
  width: 10%;
  position: relative;
  right: 20%;
  margin: 0;
}

.asteroid-two {
  width: 10%;
  position: relative;
  left: 45.2%;
  margin-bottom: 20%;
}

.ufo {
  width: 30%;
  position: relative;
  left: 5%;
}

.cute-astronaut {
  width: 8%;
  position: relative;
  right: 14%;
  margin: 0 0 14.1% 0;
}

.funny-alien {
  width: 12%;
  position: relative;
  z-index: 1;
  right: 48%;
  margin: 0 0 -2% 0;
}

.alien-planet {
  width: 100%;
  position: relative;
  margin: -20% auto -1.2% auto;
}

/* scroll to middle of page button */

.buttonmiddle {
  color: black;
  font-size: 0.5rem;
  position: relative;
  z-index: 1;
  bottom: 80px;
  padding: 2px 14px; /* originally 1.2px 14px */
  border-radius: 18px;
  background-color: #32327c;
  text-decoration: none;
}

.buttonmiddle:hover {
  background-color: silver;
}

/* middle container */

.middle-container {
  width: auto;
  background-color: #32327c;
}

.profile-pic {
  width: 10%;
  height: 10%;
  padding-top: 65px;
}

.intro-text {
  margin: 50px auto;
  width: 45%;
}

.skills {
  margin: 0 auto;
}

.skills-numbered {
  margin: 0 auto;
  padding-top: 2%;
}

.projects-page-header {
  margin: 0 auto;
  padding-top: 2%;
}

.webdev {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

.webdev-text {
  margin: 50px auto;
  width: 45%;
}

.digidesign {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

.digidesign-text {
  margin: 50px auto;
  width: 45%;
}

.musicprod {
  width: 10%;
  height: 10%;
  border-radius: 50%;
}

.musicprod-text {
  margin: 50px auto;
  width: 45%;
}

.projects {
  padding: 0 0 5px 0;
}

.contact-me {
  padding: 0 0 70px 0;
}

.btn-gap {
  padding: 0 0 50px 0;
}

/* view more buttons */

.btn-view-more {
  color: black;
  font-size: 0.9rem; /* originally 1.2rem */
  padding: 6px 1px; /* originally 10px 25px */
  border-radius: 20px;
  border-width: thin;
  border-color: silver;
  background-color: silver;
  flex: 1;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 102px;
  margin: 2% auto 3.5% auto;
}

.btn-view-more:hover {
  background-color: orange;
}

.btn-view-more-2 {
  color: black;
  font-size: 0.9rem; /* originally 1.2rem */
  padding: 6px 1px; /* originally 10px 25px */
  border-radius: 20px;
  border-width: thin;
  border-color: silver;
  background-color: silver;
  flex: 1;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 102px;
  margin: 2% auto 0 auto;
}

.btn-view-more-2:hover {
  background-color: orange;
}

.btn-view-more-3 {
  color: black;
  font-size: 1.2rem; /* originally 0.9rem */
  padding: 10px 25px; /* originally 6px 1px */
  border-radius: 20px;
  border-width: thin;
  border-color: silver;
  background-color: silver;
  flex: 1;
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 102px;
  margin: 2% auto -2% auto; /* originally 2% auto 0 auto */
}

.btn-view-more-3:hover {
  background-color: orange;
}

/* contact me button */

.btn-contact {
  color: black;
  font-size: 1.2rem;
  padding: 10px 25px;
  border-radius: 20px;
  border-width: thin;
  border-color: silver;
  background-color: silver;
  flex: 1;
  text-decoration: none;
}

.btn-contact:hover {
  background-color: orange;
}

/* page navigation headers */

.go-to-home {
  display: inline-block;
  margin: 0 auto 65px auto;
}

.home {
  display: flex;
  margin: 0 auto 10% 3.3%;
}

.next {
  display: flex;
  margin: -32.5% auto 0 75.5%;
}

.prev {
  display: flex;
  margin: -32.5% auto 10% 41%;
}

/* page navigation buttons */

.btn-home {
  color: black;
  font-size: 1.2rem;
  padding: 10px 14px;
  border-radius: 20px;
  border-width: thin;
  border-color: silver;
  background-color: silver;
  flex: 1;
  text-decoration: none;
  position: relative;
  margin: 0 70% 0 auto;
}

.btn-home:hover {
  background-color: orange;
}

.btn-previous {
  color: black;
  font-size: 1.18rem;
  padding: 10px 15.8px;
  border-radius: 20px;
  border-width: thin;
  border-color: silver;
  background-color: silver;
  flex: 1;
  text-decoration: none;
  position: relative;
  margin: 0 auto;
}

.btn-previous:hover {
  background-color: orange;
}

.btn-next {
  color: black;
  font-size: 1.18rem;
  padding: 10px 15.5px;
  border-radius: 20px;
  border-width: thin;
  border-color: silver;
  background-color: silver;
  flex: 1;
  text-decoration: none;
  display: inline-block;
  position: relative;
  margin: 4.9% auto 0 70%;
}

.btn-next:hover {
  background-color: orange;
}

/* bottom container */

.bottom-container {
  width: auto;
  background-color: #1d072f;
  padding: 20px 0 5px 0;
}

.footer-link {
  color: orange;
  font-size: 1rem;
  padding: 0 25px 0 25px;
  text-decoration: none;
}

.footer-link:hover {
  color: silver;
}

.copyright {
  color: orange;
  font-size: 0.8rem;
  padding-top: 20px;
}

.copyright:hover {
  color: silver;
}

.image-credits {
  color: orange;
  font-size: 1rem;
  padding: 20px 0 20px 0;
}

.image-credits:hover {
  color: silver;
}

/* scroll to top of page button */

.buttontop {
  color: black;
  font-size: 0.9rem;
  padding: 1px 15px;
  border-radius: 18px;
  border-width: thin;
  border-color: silver;
  background-color: silver;
  text-decoration: none;
}

.buttontop:hover {
  background-color: orange;
}
